html, body { padding: 0; margin: 0; width: 100%; height: 100%; }

h1 {
  font-family: "Arial";
  font-size: 60px;
  text-align: center;
}

html {
  background-color: rgb(54, 54, 54);
  color: white;
}

body {
 background-color: rgb(54, 54, 54);
 width: 910px;
 min-height: 100vh;
 margin: 0 auto;
 border-left: 6px;
 border-right: 6px; 
}

.square {
  float:left;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin:1.66%;
  margin-bottom: 1.5em;
}

.content {

  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}

#snakeCanvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
  border: 5px solid black;
}

#winCanvas {
  float: right;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
  border: 5px solid black;
}

#winContainer {
  float:right;
  position: absolute;
  width: 15%;
  padding-bottom: 15%;
  left: 85%;
  margin: 0;
  margin-top: 2%;
}

#winContent {
  width: 100%;
  height: 100%;
}

#playerRanks {
  color: white;
  width: 15%;
  right: 85%;
  background: rgb(54, 54, 54);
  position: absolute;
  margin: 0;
  margin-top: 2%;
  font-family: "Arial";
  font-size: 14px;  
  line-height: 1.5;
  letter-spacing: 1px;
}

td {
  border-bottom: 1px solid white;
}